
* 
{
        background: none repeat scroll 0 0 transparent;
        border: medium none;
        border-spacing: 0;
        color: #26589F;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.42rem;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        text-align: left;
        text-decoration: none;
        text-indent: 0;
}
.manteniance
{
        
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
}
body 
{
        
        display: flex;
        background-color: #161b1e;
        overflow-x: hidden; 
        margin: auto;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color:white;
        display: block;
        align-items: center;
        justify-content: center;
}

h1
{
        font-family: 'Roboto', sans-serif;   
        font-size: 3em;
        font-weight: 700;
        color: white;
        line-height: 1em;
        text-align: center;
}
h2
{
        font-weight: 300;
        font-size: 1.8em;
        color: #E4F1FE;
        line-height: 1.2em;
        text-align: center;
}
main
{
        padding: 2em;
}

img
{
        width: 80vw;
        margin-bottom: 2em;
}

a
{
        font-weight: 200;
        font-size: 1.8em;
        color: #3498DB;
}